[submodule "external/byte-track-eigen"]
	path = external/byte-track-eigen
	url = https://github.com/cj-mills/byte-track-eigen
[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "motcpp"]
	path = motcpp
	url = https://github.com/Geekgineer/motcpp
[submodule "external/motcpp"]
	path = external/motcpp
	url = https://github.com/Geekgineer/motcpp
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
